html {
  background-color: #BADA55;
}

body {
  font-family: Josefin sans, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #555;
}

span {
  font-weight: bold;
}

.titleBackground {
  background-image: url(src/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
}

.navbar {
  font-size: 23px;
  background-color: transparent;
}


.bgcolor.scrolled {
  background-color: red;
}


.nav-link {
  margin: 0 10px 0 10px;
}

.innerTitle {
  width: 50%;
  margin: auto;
  align-content: flex-start;
}

.innerTitle h1 {
  color:white;
  font-size: 3.125rem;
}

.innerTitle h2 {
  color:white;
}

.animate {
  color: rgb(18, 214, 64);
}

.innerTitle p {
  color:white;
  font-size: 1.438rem;
}


.centerdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.icons {
  height: 55px;
  width: 55px;
  background: #F8F8F8;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: center;
  line-height: 73px;
  box-shadow: 1px 2.2px 0px 2px #dcdde1;
}

.fab {
  transition: all 0.3s linear;
  color: #282828;
}

.fa-facebook-f:hover {
  color: #4267B2;
  transform: scale(1.3);
}

.fa-twitter:hover {
  color: #00acee;
  transform: scale(1.3);
}

.fa-instagram:hover {
  color: #cd486b;
  transform: scale(1.3);
}

.fa-github:hover {
  color: black;
  transform: scale(1.3);
}

.fa-linkedin-in:hover {
  color: #0077b5;
  transform: scale(1.3);
}

.fa-google-play:hover {
  color: #0077b5;
  transform: scale(1.3);
}


/* ---------------------------------------ABOUT------------------------------------ */
#secAbout {
  display: flex;
  padding: 5.5rem;
}

.about {
  width: 60%;
  margin: 8vh auto;
  text-align: center;
  /* text-align: justify; */
  font-family: Josefin sans, sans-serif;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #555;
  box-sizing: content-box;
  padding: 2rem;
  /* box-shadow: 5px 3px 8px #888888; */
}

@media (max-width: 999px) {
  .about {
    width: 80%;
    padding: 0;
    font-size: 2.5rem;
    background-color: #BADA55;
  }

  #secAbout{
    padding: 0.5rem 0.1rem;
    /* margin: 100px auto; */
  }

  .titleBackground {
    background-image: url(src/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 80%;
    display: flex;
  }
/*
  .icons {
    height: 35px;
    width: 35px;
  } */

  .innerTitle {
    width: 90%;
    margin: auto;
    align-content: flex-start;
  }

}

.h2Headings {
  font-size: 3.75rem;
  text-align: center;
  padding: 1.25rem;
  margin-bottom: 20px;
  color: #555;
}

.h3Design {
  text-align: left;
  font-weight: bold;
  padding: 1rem;
  padding-left: 0rem;
  text-align: center;
  /* line-height: 2.5; */
  /* margin: 200px 0 10px 0; */
}

.h4Design {
  text-align: center;
}

.hrDesign {
  width: 80%;
  margin: auto;
}

.hrDesignTwo {
  margin-bottom: 80px;
  margin-top: 100px;
}

.about p {
  margin-top: 2.4rem;
}

.btns {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  background-color: #293335;
  padding: 1.15rem 2.60rem;
  border: 1px solid #293335;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 17%);
  transition: all .2s;
  margin-top: 2.2rem;
}

/* ---------------------------------------PROJECTS------------------------------------ */
#secProject {
  background-color: #f9f9f9;
}

.projects {
  width: 60%;
  margin: 8vh auto;
  text-align: center;
  text-align: justify;
  font-family: Josefin sans, sans-serif;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  /* color: #555; */
  box-sizing: content-box;
  padding: 5rem;
  /* box-shadow: 5px 3px 8px #888888; */
}

.projectDiv {
  width: 85%;
  padding: 1.5rem;
  margin: 1.8rem auto;
  text-align: justify;
  /* text-align: center; */
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #555;
  box-sizing: content-box;
  /* box-shadow: 5px 3px 8px #888888; */
}

.project_P {
  text-align: left;
}

.project_icon_div {
  margin: 10px;
}

.project_span {
  line-height: 4;
  font-weight: bold;
}

.project_centerdiv {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


/* ---------------------------------------SKILLS------------------------------------ */

.skills {
  width: 60%;
  margin: 8vh auto;
  text-align: center;
  text-align: justify;
  font-family: Josefin sans, sans-serif;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  /* color: #555; */
  box-sizing: content-box;
  padding: 5rem;
}

.svgDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.svgImg {
  width: 150px;
  height: 150px;
  margin: 15px;
  padding: 40px;
}

/* ---------------------------------------EDUCATION------------------------------------ */

#secEducation {
  /* height: 40vh;  */
  background-color: #f9f9f9;
}

.eduLogo {
  width: 190px;
  height: 160px;
  margin: 10px 0 40px 0;"
}

/* ---------------------------------------FOOTER------------------------------------ */
footer {
  height: 30vh;
  background-color: #293335;
}
